{% extends "base.html" %}

{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .row {
      column-gap: 20px;
    }
  .card {
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.03);
  }
  .card-img-top {
    height: 300px;
    object-fit: contain;
    background: #f5f5f5;
    padding: 5px;
  }
  .badge-genre {
    font-size: 0.8em;
  }
<!--    .error-message {-->
<!--      color: red;-->
<!--      text-align: center;-->
<!--      margin: 20px 0;-->
<!--    }-->
</style>
<body>
<div class="container py-5">
    <h1 class="text-center mb-4">Книги по вашему настроению</h1>
    <div class="row" id="cards-container">
        <div class="card" style="width: 18rem;">
            <img src="{{thumbnail0}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title0}}</h5>
                <p class="card-text text-muted">{{authors0}}</p>
                <p class="card-text">{{description0}}</p>
                <span class="badge bg-primary badge-genre">{{genre}}</span>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="{{thumbnail1}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title1}}</h5>
                <p class="card-text text-muted">{{authors1}}</p>
                <p class="card-text">{{description1}}</p>
                <span class="badge bg-primary badge-genre">{{genre}}</span>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="{{thumbnail2}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title2}}</h5>
                <p class="card-text text-muted">{{authors2}}</p>
                <p class="card-text">{{description2}}</p>
                <span class="badge bg-primary badge-genre">{{genre}}</span>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="{{thumbnail3}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{title3}}</h5>
                <p class="card-text text-muted">{{authors3}}</p>
                <p class="card-text">{{description3}}</p>
                <span class="badge bg-primary badge-genre">{{genre}}</span>
            </div>
        </div>
    </div>
</div>
>

{% endblock %}