{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/show_books.css') }}">
{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-5">Книги по вашему настроению</h1>
    <div class="row justify-content-center" id="cards-container">
        {% for book in params %}
        <div class="col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch mb-4">
            <div class="card">
                <img src="{{ book[0] }}"
                     class="card-img-top"
                     alt="{{ book[1] }}">

                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ book[1] }}</h5>

                    {% if book[2] %}
                    <p class="card-text text-muted">Автор: {{ book[2] }}</p>
                    {% endif %}

                    {% if book[3] %}
                    <p class="card-text">{{ book[3][:150] }}{% if book[3]|length > 150 %}...{% endif %}</p>
                    {% endif %}

                    <span class="badge bg-primary badge-genre mt-auto">{{ genre }}</span>

                </div>
                <a href="{{ url_for('book_detail', book_id=book[4]) }}" class="btn btn-primary w-100 mt-auto shadow-sm"><i
                        class="bi bi-info-circle me-1"></i> Подробнее</a>
                {% if current_user.is_authenticated %}
                <a>&#x200b;</a>
                <a href="{{ url_for('book_add_fav', book_id=book[4]) }}"
                   class="btn btn-primary w-100 mt-auto shadow-sm">
                    <i class="bi bi-info-circle me-1"></i>
                    Добавить в избранное
                    <i class="fa-solid fa-heart"></i>
                </a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <button class="btn_newbooks" onclick="history.go(0)">
            Найти еще книги
        </button>
    </div>
</div>
{% endblock %}